<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Sistema de Apoio a Licitações</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header class="site-header">
    <div class="container"><h1>Sistema de Apoio a Licitações</h1></div>
  </header>

  <main class="container">
    {% block body %}{% endblock %}
  </main>

  <footer class="site-footer">
    <div class="container">Rodapé - Sistema de Apoio a Licitações</div>
  </footer>
</body>
</html>
