{% extends 'base.html' %}
{% block content %}
<h3>Nova Viagem</h3>
<form method="post">
    <label>Origem:</label><br>
    <input type="text" name="origem" required><br><br>

    <label>Destino:</label><br>
    <input type="text" name="destino" required><br><br>

    <label>KM Inicial:</label><br>
    <input type="number" name="km_inicial" required><br><br>

    <label>Data e Hora de Início (DD/MM/AAAA HH:MM):</label><br>
    <input type="text" name="data_inicio" placeholder="Ex: 15/07/2025 08:30" required><br><br>

    <button type="submit">Salvar</button>
</form>
{% endblock %}
